@import "variables/global";
@import "themes/dark";
@import "themes/normal";
@import "themes/orange";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}
