.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lang {
  margin-left: 20px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .lang {
    margin-left: 0;
  }
}
