.BIG {
  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 16px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .views {
    margin-left: auto;
  }

  .textBlock {
    max-height: 180px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
}

.SMALL {
  width: 230px;

  .date {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);
    transition: 0.2s;
    cursor: pointer;

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .type p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
