.Input {
  background: transparent;
  border: 1px solid var(--secondary-color);
  width: 100%;
  border-radius: 5px;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

.placeholder {
  margin-right: 5px;
}
