.skeleton {
  box-shadow: 0 4px 10px 0 #21212126;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background:
    linear-gradient(
      to right,
      transparent 0%,
      var(--skeleton-color) 50%,
      transparent 100%
    );
  animation: load 1.3s cubic-bezier(0.8, 0, 0.4, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}
