.Wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 2px 10px 2px 2px;
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}
