.app_dark_theme {
  --bg-color: #404040;
  --inverted-bg-color: #f2f0ed;
  --primary-color: #eee;
  --secondary-color: #bdbdbd;
  --inverted-primary-color: #424242;
  --inverted-secondary-color: #9e9e9e;
}
