.app_dark_theme {
  --bg-color: #939393;
  --inverted-bg-color: #fbf4f4;
  --primary-color: #fbf4f4;
  --secondary-color: #fbf4f4;
  --inverted-primary-color: #939393;
  --inverted-secondary-color: #686868;
}
