:root {
  --bg-color: #fbf4f4;
  --inverted-bg-color: #939393;
  --primary-color: #939393;
  --secondary-color: #686868;
  --inverted-primary-color: #fbf4f4;
  --inverted-secondary-color: #fbf4f4;
  --skeleton-color: #dcdce17d;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: #fff;
}
