.app_orange_theme {
  --bg-color: #f15a42;
  --inverted-bg-color: #fee9e6;
  --primary-color: #fbf5f4;
  --secondary-color: #ed8e12;
  --inverted-primary-color: #f15a42;
  --inverted-secondary-color: #fee9e6;
  --skeleton-color: #f09a40
  --skeleton-shadow: rgba(0 0 0 / 20%)
}
