.app_orange_theme {
  --bg-color: #f15a42;
  --inverted-bg-color: #fee9e6;
  --primary-color: #fbf5f4;
  --secondary-color: #e3ae69;
  --inverted-primary-color: #f15a42;
  --inverted-secondary-color: #fee9e6;
  --skeleton-color: #e3ae69;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: #ca9694;
  --card-bg: #f1594295;
}
